.section-character {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 3em;
}

.character-card {
  display: inline-block;
  background-color: var(--background-color-section);
  border: 1px solid var(--border-color);
  border-radius: .5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  text-align: center;
  animation: fade 2.5s ease-out;
}

.character-card__image {
  width: 100%;
}

.character-card__name {
  padding-block: .5em;
  font-size: calc(1.2vw + var(--text-medium-size));
}

.section-character__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5em;
}

.character__details__title {
  font-size: calc(1vw + var(--text-medium-size));
  margin-bottom: .2em;
}

.character__details__text {
  font-size: calc(.55vw + var(--text-smaller-size));
}

.status--alive {
  color: var(--green-color);
}

.status--dead {
  color: var(--red-color);
}

.status--unknown {
  color: var(--gray-color);
}

/* Episodes */
.episodes {
  width: 100%;
}

.character__details__episodes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: .6em;
}

.character__details__episodes-list__item {
  padding: .2em .5em;
  font-size: calc(.5vw + var(--text-smaller-size));
}

/* Animations */
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}