@font-face {
  font-family: 'Averia Sans Libre';
  src: url("../assets/fonts/averia-sans-libre-v17-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Averia Sans Libre';
  src: url("../assets/fonts/averia-sans-libre-v17-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Averia Sans Libre';
  src: url("../assets/fonts/averia-sans-libre-v17-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Colors */
  --primary-color: #16ACC9;
  --secondary-color: #008c96;
  
  --text-black-color: #323237;
  --text-white-color: #FFFFFF;
  
  --red-color: #fb6467ff;
  --yellow-color: #f0e14a;
  --pink-color: #e89ac7;
  --green-color: #97ce4c;
  
  --border-color: #E2E8EE;
  --background-color-section: #FAFAFA;

  /* Fonts */
  --font-primary: 'Averia Sans Libre', sans-serif;

  /* Font-Sizes */
  --text-larger-size: 2.4em;
  --text-large-size: 2.2em;
  --text-medium-size: 1.8em;
  --text-size: 1.6em;
  --text-small-size: 1.4em;
  --text-smaller-size: 1.2em;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 10px; /* 1em = 10px */
  background-color: var(--text-white-color);
  color: var(--text-black-color);
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

/* General Styles */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
}

.main {
  display: grid;
  min-height: 80vh;
  margin-block: 2em;
}


/* Responsive */
@media screen and (max-width: 540px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .header__logo {
    margin-top: 1em;
  }

  .header__nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 640px) {
  .wrapper {
    padding: 0 4em;
  }
}

@media screen and (min-width: 740px) {
  .wrapper {
    width: 90%;
    padding: 0 2em;
  }
  
  .section-character {
    gap: 5em;
    justify-content: space-between;
  }

  .character-card__image {
    flex: 2;
  }
  
  .section-character__details {
    flex: 1;
    padding: 0 2em;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 80%;
  }
}