@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  /* Colors */
  --primary-color: #16ACC9;
  --secondary-color: #008c96;
  
  --text-black-color: #323237;
  --text-white-color: #FFFFFF;
  
  --red-color: #fb6467ff;
  --yellow-color: #f0e14a;
  --pink-color: #e89ac7;
  --green-color: #97ce4c;
  
  --border-color: #E2E8EE;
  --background-color-section: #FAFAFA;

  /* Fonts */
  --font-primary: 'Poppins', sans-serif;

  /* Font-Sizes */
  --title-section: 3.6em;
  --title-size: 2.6em;
  --text-larger-size: 2.4em;
  --text-large-size: 2.2em;
  --text-medium-size: 1.8em;
  --text-size: 1.6em;
  --text-small-size: 1.4em;
  --text-smaller-size: 1.2em;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 10px; /* 1em = 10px */
  background-color: var(--text-white-color);
  color: var(--text-black-color);
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

/* General Styles */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
}

.main {
  margin-block: 2em;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  height: 80px;
}

.header__logo {
  width: 120px;
  margin-top: 0;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: .7em;
  font-size: calc(.5vw + var(--text-size));
}

.header__nav-item:hover {
  color: var(--primary-color);
}

.active-nav-link {
  position: relative;
  padding: 0 .1em;
  color: var(--primary-color);
  transition: color .3s ease-in-out;
}

.active-nav-link:hover {
  color: var(--text-white-color);
}

.active-nav-link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--primary-color);
  transition: height .3s linear;
  z-index: -1;
}

.active-nav-link:hover::after {
  height: 100%;
}

/* Characters List */
.characters-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 1.5em;
}

.character-item {
  position: relative;
  min-width: 180px;
  min-height: 180px;
  background-color: var(--background-color-section);
  border: 1px solid var(--border-color);
  border-radius: .5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
  transition: transform .3s ease-in-out, box-shadow .25s linear;
}

.character-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding-bottom: 1em;
}

.character-item__image {
  width: 100%;
}

.character-item__name,
.character-card__name {
  padding: 0 .6em;
  color: var(--primary-color);
  font-size: calc(.3vw + var(--text-size));
  transition: color .6s ease-in-out;
}

.character-item::before {
  content: '';
  position: absolute;
  inset: -2.5%;
  background-image: linear-gradient(
    0deg,
    #036c73 0%,
    #10b877 40%,
    #12d3ed 100%
  );
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity .3s ease-in-out;
}

.character-item:hover {
  transform: translateY(-.5em);
  box-shadow: 0 10px 8px rgba(0, 0, 0, .4);
}

.character-item:hover::before {
  opacity: 1;
}

.character-item:hover .character-item__name {
  color: var(--text-white-color);
}

/* Character Details Page */
.section-character {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 3em;
}

.character-card {
  display: inline-block;
  background-color: var(--background-color-section);
  border: 1px solid var(--border-color);
  border-radius: .5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  text-align: center;
  animation: fade 2.5s ease-out;
}

.character-card__image {
  width: 100%;
}

.character-card__name {
  padding-block: .5em;
  font-size: calc(1vw + var(--text-medium-size));
}

.section-character__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5em;
}

.character__details__title {
  font-size: calc(.65vw + var(--text-medium-size));
  margin-bottom: .2em;
}

.character__details__text {
  font-size: calc(.5vw + var(--text-smaller-size));
}

.status--alive {
  color: var(--green-color);
}

.status--dead {
  color: var(--red-color);
}

.episodes {
  width: 100%;
}

.episodes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: .6em;
}

.episodes__item {
  padding: 0 .5em;
}

.episodes__item:nth-child(3n + 1) {
  background-color: var(--yellow-color);
  color: var(--text-black-color);
}

.episodes__item:nth-child(3n + 2) {
  background-color: var(--pink-color);
  color: var(--text-black-color);
}

.episodes__item:nth-child(3n + 3) {
  background-color: var(--primary-color);
  color: var(--text-white-color);
}

.episodes__item:nth-child(4n + 1) {
  background-color: var(--green-color);
  color: var(--text-white-color);
}

.episodes__item:nth-child(4n + 2) {
  background-color: var(--secondary-color);
  color: var(--text-white-color);
}



@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 
.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* Responsive */
@media screen and (max-width: 540px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    height: auto;
  }

  .header__logo {
    margin-top: 1em;
  }

  .header__nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 640px) {
  .wrapper {
    padding: 0 4em;
  }
}

@media screen and (min-width: 740px) {
  .wrapper {
    width: 90%;
    padding: 0 2em;
  }
  
  .section-character {
    gap: 5em;
    justify-content: space-between;
  }

  .character-card__image {
    flex: 2;
  }
  
  .section-character__details {
    flex: 1;
    padding: 0 2em;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 80%;
  }
}